.itemCount {
    position: absolute;
    color: #fff;
    padding: 0;
    height: 17px;
    width: 17px;
    line-height: 17px;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    top: 0;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    padding-left: 3px;
}

.itemlabel {
    cursor: pointer;
    display: inline-block;
    margin-bottom: .5rem;
    color: #fff;
}


.bump {
    font-size: 18px;
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }